<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizacion</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <center>
            <h2 class="text-primary h1">Cotización</h2>
        </center>
        <form action="/cotizacion" method="p">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td><label for="valor">Valor de automóvil:</label></td>
                <td><input type="number" id="valor" name="valor" required="true"></td>
            </tr>
            <tr>
                <td><label for="pinicial">Porcentaje de Pago Inicial:</label></td>
                <td>
                    <select name="pinicial" id="pinicial">
                        <option value="10">10%</option>
                        <option value="30">30%</option>
                        <option value="50">50%</option>
                        <option value="70">70%</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="plazo">Plazos:</label></td>
                <td>
                    <select name="plazo" id="plazo">
                        <option value="12">12 meses</option>
                        <option value="24">24 meses</option>
                        <option value="36">36 meses</option>
                        <option value="48">48 meses</option>
                        <option value="60">60 meses</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="text-center">
                    <button type="submit" class="btn btn-primary">Calcular</button>
                    <button type="reset" class="btn btn-secondary" onclick="limpiar()">Limpiar</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>

        <!-- token <%  %> -->

            <% 
let pagoInicial = 0;
let totalfin = 0;
let pmensual = 0;

if(valor!=null){
  pagoInicial = valor * (pinicial/100);
  totalfin = valor- pagoInicial;
  pmensual = totalfin/plazo;
%> 

<h3 id="info">Información de la cotización</h3>
<hr> <br>

<table class="table table-bordered table-striped" width="10%" id="tabla-cotizacion">
  <tbody>
    <tr>
      <td>Valor del automovil:</td>
      <td><%=valor%></td>
    </tr>
    <tr>
      <td>Porcentaje de pago:</td>
      <td><%=pinicial%></td>
    </tr>
    <tr>
      <td>Plazos:</td>
      <td><%=plazo%></td>
    </tr>
    <tr>
      <td>Pago Inicial:</td>
      <td><%=pagoInicial%></td>
    </tr>
    <tr>
      <td>Total a financiar:</td>
      <td><%=totalfin%></td>
    </tr>
    <tr>
      <td>Pago Mensual:</td>
      <td><%=pmensual%></td>
    </tr>
  </tbody>
</table>

<% }
%>
        </form>
    </div>
</body>
</html>
<script>
    function limpiar() {
        document.getElementById("valor").value = "";
        document.getElementById("plazo").value = "";
        document.getElementById("pinicial").value = "";
        document.getElementById("tabla-cotizacion").innerHTML = "";
        document.getElementById("info").innerHTML = "";
    }
</script>