<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <title>Practica 01 EJS</title>
</head>
<body>
    <center>
        <h1 class="text-primary h1"> <%=titulo%> </h1>
        <h5> <%=nombre%> </h5>
        <h5> <%=grupo%> </h5>
        
        <div class="container">
            <img src="./img/Upsin.png" alt="Imagen" width="250px" height="300px">
            <br><br>
        <table border="1" class="table  table-dark table-bordered table-hover" >
            <tr>
                <th>Matricula</th>
                <th>Nombre</th>
                <th>Sexo</th>
                <th>Materias</th>
            </tr>
            <%
                for(item of listado){
                %>
                <tr>
                    <td> <%=item.matricula%> </td>
                    <td> <%=item.nombre%> </td>
                    <td> <%=item.sexo%> </td>
                    <td> <%=item.materias%> </td>
                </tr>
            <%
                }
                %>
        </table>
        </div>
    </center>
</body>
</html>